.related-products {
  display: block;
}

.related-products__heading {
  margin: 3rem 0;
  text-align: center;
}

.swiper-button-next-custom, 
.swiper-button-prev-custom {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(3rem, 5vw, 100rem);
  margin: 2rem 0 5rem;
}

.swiper-controls .swiper-pagination-fraction {
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}