
/* Override product page */
.product-media-container {
   width: 100%;
}

.product__title {
  font-weight: 300;
  font-style: Light;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;

}

.product__subtitle,
.product__content-under-price .metafield-rich_text_field > p > strong:first-child,
.product__description > p > strong:first-child,
.product__description > p > b:first-child {

    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 5%;
    text-transform: uppercase;
    color:  #A19C8C;

}

.product__content-under-price p {
  margin: 0.5rem 0;
}

.product__content-under-price a {

  font-family: var(--font-btn-family);
  font-style: var(--font-btn-style);
  font-weight: var(--font-btn-weight);

  font-optical-sizing: auto;

  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(var(--color-foreground), 1);
}

.product__tax {
  display: none;
}


.product__description.rte ul,
.product__description.rte ol {
  padding-left: 0;
  list-style-type: none;
}

product-info .price__container:after,
product-info .product__content-under-price:after,
product-info share-button:after {
  content: "";
  display: block;
  width: 42px;
  height: 0px;
  border: 1px solid #E4DFD1;
  opacity: 1;
  margin-top: 1rem;
}

product-info .price .price-item {
  font-size: 12px;
}

product-info .product-form__quantity {
 margin-top: 0;
}

product-info.product__info-container > variant-selects {
  margin-top: 0;
  margin-bottom: 0;
}

product-info .product-form__quantity .form__label,
product-info .product-form__input .form__label {
  display: none;
}

product-info .share-button__button {
  margin-top: -1rem;
  padding: 1rem;
  min-height: initial
}
product-info .product-form__buttons button,
product-info .select,
product-info .product-form__input.product-form__input--dropdown {
  display: inline-flex;
  width: auto;
}
product-info .select__select {
  font-size: 14px;
  padding-right: 4rem;
}