.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
}

.rich-text__wrapper .rich-text__blocks {
  width: 730px;
  max-width: 100%;
}

.rich-text__wrapper .flleft,
.rich-text__wrapper .flright {
  font-size: clamp(20px, 2vw, 28px);
}

@media screen and (max-width: 899px) {
  .rich-text__wrapper .h2 + .flright {
    margin-top: -0.5rem;
  }
  .rich-text__wrapper .flleft + .h2 {
    margin-top: -0.5rem;
  }
}

@media screen and (min-width: 900px) {
  .rich-text__wrapper .flleft,
  .rich-text__wrapper .flright {
    position: absolute;
    top: 50%;
    margin: 0;
    --slide-in-final-transform: -50%;
  }

  .rich-text__wrapper .flleft {
    left: 2rem;
  }
  .rich-text__wrapper .flright {
    right: 2rem;
  }
}


.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

.rich-text__buttons .button {
  background: transparent;
}

.rich-text__heading.h1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: clamp(calc(var(--title_min_width) * 1px), calc( (var(--title_max_width) / 1440) * 100vw) ,calc(var(--title_max_width) * 1px));
}